

.distill-site-nav {
  color: #00f5d4;
  background-color: #14213d;
  font-size: 16px;
  font-weight: 300;
}

.distill-site-nav a:hover {
  color: #FEE440;
}

body {
  background-color: #FFFFFF;
}

h1 {
  color: #9B5DE5;
}

h2 {
  color: #FEE440;
	border-bottom: none;
}



